<div class="form">
	<form method="post">
		<label>Введіть ім'я:       <p class="right"><input type="text" name="name" required></p></label>
		<label>Введіть email:      <p class="right"><input type="text" name="email" required></p></label>
		<label>Введіть вік:		   <p class="right"><input type="number" name="age" required></p></label>
		<label>Введіть пароль:     <p class="right"><input type="password" name="pass" required></p></label>
		<label>Підтвердіть пароль: <p class="right"><input type="password" name="rep_pass" required></p></label>
		<input type="submit">
	</form>
</div>
