<!DOCTYPE html>
<html>
<head>
	<title>Sinatra App</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<header>
		<% unless current_user.nil? %>
			<p><%= @name %> <a href="/logout">Log Out</a></p>
		<% else %>
			<p><a href="/login">Login</a> or <a href="/signin">Sign In</a></p>
		<% end %>
	</header>
	<%= yield %>
</body>
</html>