<!DOCTYPE html>
<html>
<head>
	<title>Sinatra App</title>
	<link href="/assets/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/assets/css/print.css" media="print" rel="stylesheet" type="text/css" />
	<!--[if IE]>
	  <link href="/assets/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
</head>
<body>
	<header>
		<% unless current_user.nil? %>
			<p><%= @name %> <a href="/logout">Log Out</a></p>
		<% else %>
			<p><a href="/login">Login</a> or <a href="/signin">Sign In</a></p>
		<% end %>
	</header>
	<%= yield %>
</body>
</html>
